body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Roboto';
  margin: 0px;
  flex-grow: 1;
}

.header,
.footer {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  font-weight: bold;
  color: #F9FAF8;
  background: #1f2937;
  margin: 0px;
  padding: 0px;
}

.header {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-logo {
  font-size: 24px;
}

.header-links {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
  align-content: space-between;
  flex-grow: 1;
}

.footer {
  justify-content: center;
  border-style: double;
  border-color: red;
}

ul {
  list-style-type: none;
  gap: 10px;
}

.main {
  background: #1f2937;
  color: #F9FAF8;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-color: red;
  border-style: dashed;
}

.hero-main {
  font-size: 48px;
  margin-bottom: 20px;
  border-color: red;
  border-style: dashed;
}

.hero-secondary {
  font-size: 18px;
  margin-bottom: 20px;
  border-color: red;
  border-style: dashed;
}

button {
  background-color: #3882f6;
  color: #F9FAF8;
  width: 100px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.image {
  background-color: purple;
  width: 500px;
  height: 250px;
  align-self: flex-end;
  border-color: red;
  border-style: dashed;
}

.images img {
  width: 250px;
  height: auto;
}