@import 'meyer-reset.css';

/*SETUP*/
* {
  box-sizing: border-box;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a,
li a {
  display: inline-block;
  color: blue;
  text-decoration: underline;
}


section {
  border: 4px solid lime;
}

/*SETTINGS*/
html {
  --black: #333;
  --white: #efefef;
  --dark: #1f2937;
  --lightblue: #3882f6;
  /* --color: pink; */

}


/*DEV STYLES*/
/* body * {
  border: 1px solid blue;
  padding: 2px;
} */


/*STRUCTURE*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

inner-column {
  display: block;
  border: 4px solid orange;
  padding: 10px;
  /**/
  width: 98%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .inner-column {
  padding: 0px;
}


/*TYPOGRAPHY*/
.loud-voice {
  font-size: 32px;
  font-weight: 700;
  line-height: .9;
}

.calm-voice {
  font-size: 1rem;
  line-height: 1.3;
}

/*COMPONENTS*/
.button {
  font-family: sans-serif;
  display: inline-block;
  background-color: var(--color);
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
}

product-card {
  display: block;
}

/*MODULES*/
.graphic-diptych {
  display: block;
  border: 4px solid dodgerblue;
}

.graphic-diptych .text-content {
  display: block;
}

.graphic-diptych .picture {
  display: block;
  max-width: 800px;
}





@media (min-width: 700px) {
  .graphic-diptych {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .graphic-diptych :is(.text-content, picture) {
    flex-basis: 50%;
    border: 1px solid;
  }
}

.products-grid {
  display: block;
}

.products-grid .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.welcome {
  background-color: var(--dark);
  color: var(--white);
}

.welcome .button {
  background-color: var(--lightblue);
  color: var(--white);
}